[Unit]
Description=WRT1900AC V1 Fan Control
After=networking.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/fancontrol
PrivateTmp=true
NonBlocking=yes

[Install]
WantedBy=multi-user.target
